@import url('https://fonts.googleapis.com/css2?family=Ranchers&family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #000000 16.62%, #000000 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    height: 72px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    background-color: #000000;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
    align-items: center;
    background-color: rgb(0, 238, 255);
    box-shadow: 4px 5px 4px #00fbff;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #00fbff;

}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 70px;
    color: #ffffff;
    align-items: center;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #ffffff;
    align-items: center;
}

.conteudo-principal-escrito-botao {
    background-color: #00fbff;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px #00fbff;
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
    align-items: center;
}

.conteudo-principal-escrito-botao:hover {
    background-color: rgb(0, 0, 0);
}

.conteudo-principal-imagem {
    height: 430px;
    align-items: center;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #00fbff;
    font-family: 'Righteous', cursive;
    padding-top: 48px;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 16px;

}


.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color:#ffffff;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #00fbff;
}

.rodape-imagem {
    height: 48px;
    display: block;
    margin: 0 auto;
}